#Ignore data output files
*Rds
*html
*csv
*xlsx
*.txt
*tar.gz
*img

#Data storage or output directories
dataset/
figureOutputFolder/
figures_thromboseqQC/

#PSO output files and directories
pso-enhanced-thromboSeq/
pso-enhanced-thromboSeq1/
previous_pso_runs

#Ignore various non-code file types
*.Rproj
*.RData
*.Rhistory
*.Rdata
*.html
*.csv
*.pdf
*.png

#Occasional stray temporary file from knitting
*.md
!README.md
.Rproj.user
**pycache**
*.snakemake/

